<!DOCTYPE html>
<html>
    <head>
        <title>Prima mea pagina</title>
    </head>
    <body>
        <form method="POST" action="/form">
            <label for="prenume">Prenume:</label>
            <input type="text" id="prenume" name="prenume"><br><br>

            <label for="nume">Nume:</label>
            <input type="text" id="nume" name="nume"><br><br>

            <label for="varsta">Varsta:</label>
            <input type="number" id="varsta" name="varsta"><br><br>

            <input type="submit" value="Trimite datele">
        </form>
    </body>
</html>
